services:

  # Datenbanken
  db-redis:
    image: redis:7-alpine
    container_name: db-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
  
  db-postgres:
    image: postgres:latest
    container_name: db-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: rag

  db-mongo:
    image: mongo:latest
    container_name: db-mongo
    ports:
      - "27017:27017"
